header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo-2.png);
    background-repeat: no-repeat; 
    background-position: left 20px center;

}